.star{
          color: goldenrod;
          font-size: 2.0rem;
          padding: 0 1rem; /* space out the stars */
          text-align: center;
        }

        .stars{
            counter-reset: rateme 0;
            font-size: 2.0rem;
            font-weight: 900;
            text-align: center;
        }


#rateHead {
    text-align: center;
    color: goldenrod;
    font-family: Quicksand;
}




.starBtn{
    float:right;
}

.containerStar{
    background-color:#99cb99;
    border-radius: 5px;
    border: 5px solid goldenrod;
}
