{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Forget Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="/forgetpassword">
    <label for="username">Username*</label>
    <input name="username" class="useless" id="username" placeholder="Username" required>
    <label for="email">Email*</label>
    <input type="email" name="email" class="useless" id="email" placeholder="Password" required>
    <div>
    <input type="submit" class="myButton" value="Continue"> <a href='/login'><input type="button" class="hello" value="back"></a>
    </div>
  </form>
{% endblock %}
